"atom-workspace":
  "ctrl-tab": "pane:show-next-item"
  "ctrl-tab ^ctrl": "unset!"
  "ctrl-shift-tab": "pane:show-previous-item"
  "ctrl-shift-tab ^ctrl": "unset!"
  "ctrl-alt-l" : "window:focus-pane-on-right"
  "ctrl-alt-j" : "window:focus-pane-on-left"
  "ctrl-alt-k" : "window:focus-pane-below"
  "ctrl-alt-i" : "window:focus-pane-above"
  "alt-shift-b" : "atom-beautify:beautify-editor"
  "shift-enter" : "first-item:copy"
